/* Ajoutez cette section à votre fichier CSS */

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 40px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 1s ease-out;
  }
  